<app-not-found
  [visible]="!food"
  resetLinkRoute="/"
  notFoundMessage="404 - Food Not Found"
  resetLinkText="Homepage"
></app-not-found>

<div class="container" *ngIf="food">
  <img [src]="food.imageUrl" [alt]="food.name" />
  <div class="details">
    <div class="header">
      <span class="name">{{ food.name }}</span>
      <span class="favorite {{ food.favorite ? '' : 'not' }}"> ❤ </span>
    </div>
    <span class="rating">{{ food.stars }} ★</span>
    <div class="origins">
      <span *ngFor="let origin of food.origins">
        {{ origin }}
      </span>
    </div>
    <div class="tags">
      <app-tags [foodPageTags]="food.tags"></app-tags>
    </div>

    <div class="cook-time">
      <span>
        Time to cook about <strong>{{ food.cookTime }}</strong> minutes
      </span>
    </div>

    <div class="price">
      <span>{{ food.price | currency }}</span>
    </div>

    <button (click)="addToCart(food)">Add To Cart</button>
  </div>
</div>
